@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
}

html {
    scroll-behavior: smooth;
}

body {
    color: rgb(var(--foreground-rgb));
    height: 100vh;
    background: linear-gradient(180deg, #484848, #1d1d1d);
}